<!-- Jinja file including all homepage content -->
{% extends "header.html" %} v


{% block content %}
<style>
    #website-div {
        position: relative;
        /* text-align: center; */
    }

    #form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="container-fluid" id="website-div">
    <img src="{{ url_for('static', filename = 'img/websites/website-img.jpg') }}" style="width:100%; max-height: 100vh;">
    <form method="POST" id="form">
        <h1>Get Custom Website</h1>
        <!-- Token block needed for added security -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email (class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description (class="form-control form-control-lg", rows='8') }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>
        <small>We will contact you within 24 hours</small>
    </form>
</div>
{% endblock %}
