  #analytics {
      display: none;
  }

  #stream {
      display: none;
  }

  .dashboard-row-item {
      min-height: 40vh;
  }

  .wrapper,
  #admin,
  #accounts,
  #analytics {
      display: flex;
      width: 100%;
      height: 80vh;
      align-items: stretch;
      /* border: solid red; */
  }

  .dashboard-row {
      /* border: solid red; */
  }