/*Body Styling*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*Sidebar*/
#sidebar-status {
  margin: 0;
  /*margin-top: -1%;*/
  /*text-align: center;*/
  /*background-color: #D6EAF8;*/
}
#sidebar-status ul {
  margin-left: 25%;
}
#sidebar-status img {
  width: 15px;
  height: 15px;
  margin-left: 2%;
}

/*Header Bar*/
#header-bar {
  background-color: #000;
  min-height: 5vh;
}
#header-bar p {
  color: #fff;
  /*margin-left: 3%;*/
  font-size: 20px;
  /*color: limegreen;*/
  /*position: absolute;*/
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);
  /* Apply animation to this element */  
  -moz-animation: header-bar 35s linear infinite;
  -webkit-animation: header-bar 35s linear infinite;
  animation: header-bar 35s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes header-bar {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes header-bar {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes header-bar {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

/*Summary*/
#summary {
  min-height: 70vh;
}

/*NON CONNECTED MODEL*/

/*sign in buttons*/
.unavalable-logo {
  opacity: 0.2;
}
.social-logo {
  width: 75px; 
  height: 75px;
  margin-left: 5%;
}
#refresh-twitter {
  margin-left: 1%;
  width: 35px;
  height: 35px;
}

/*TIPS*/
.tip-card {
  background-color: #FCF3CF;
}
/*Dismiss tip button*/
.dismiss-tip {
  text-align: right;
}
