<!--Contact Us snippet of homepage -->
{% block body %}
<style>
  #inputMessage{
    height:200px;
    font-size:14pt;
}
</style>
<div id="contactus">
  <div class="container-fluid" style="background-color: #FF8A00;">
    <div class="container">
      <form class="form-signin" method="POST">
        <h1 class="h3 mb-3 font-weight-normal text-center" style="color:#fff;">Contact Us</h1>
        <!-- Token block needed for added security -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email (class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.message.label(class="form-control-label") }}
            {{ form.message (class="form-control form-control-lg", rows='10') }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
